.sign-in {
  background-color: #fff7df;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-in .sign-in-wrapper {
  background-color: #fff7df;
  overflow: hidden;
  border: 0px none;
  width: 1500px;
  height: 1000px;
}

.sign-in .div {
  position: relative;
  width: 1769px;
  height: 1339px;
  top: -269px;
  left: -269px;
}

.sign-in .overlap {
  position: absolute;
  width: 1500px;
  height: 1001px;
  top: 268px;
  left: 269px;
}

.sign-in .element {
  position: absolute;
  width: 1057px;
  height: 290px;
  top: 711px;
  left: 0;
}

.sign-in .image-placeholder {
  position: absolute;
  width: 775px;
  height: 1000px;
  top: 0;
  left: 725px;
  background-color: #c4c4c4;
}

.sign-in .idea {
  position: absolute;
  width: 299px;
  height: 161px;
  top: 798px;
  left: 963px;
}

.sign-in .idea-and-text {
  position: absolute;
  width: 301px;
  height: 110px;
  top: 0;
  left: 0;
}

.sign-in .text-wrapper {
  position: absolute;
  width: 299px;
  top: 58px;
  left: 0;
  font-family: "Proxima Nova-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .group {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 0;
  left: 124px;
}

.sign-in .overlap-group {
  position: relative;
  height: 36px;
}

.sign-in .ellipse {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 17.5px;
  background: linear-gradient(180deg, rgb(255, 192.02, 0) 0%, rgb(255, 137.7, 0) 100%);
}

.sign-in .img {
  position: absolute;
  width: 28px;
  height: 29px;
  top: 7px;
  left: 11px;
}

.sign-in .idea-button-shuffle {
  position: absolute;
  width: 58px;
  height: 29px;
  top: 132px;
  left: 120px;
}

.sign-in .element-2 {
  position: absolute;
  width: 225px;
  height: 114px;
  top: 269px;
  left: 269px;
}

.sign-in .form-logo {
  position: absolute;
  width: 431px;
  height: 380px;
  top: 529px;
  left: 420px;
}

.sign-in .p {
  position: absolute;
  top: 78px;
  left: 104px;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-weight: 400;
  color: #5c5c5c;
  
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .uxlead-gmail-com-wrapper {
  position: absolute;
  width: 425px;
  height: 62px;
  top: 124px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid;
  border-color: #eeeeee;
}

.sign-in .uxlead-gmail-com {
  position: absolute;
  top: 22px;
  left: 20px;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .div-wrapper {
  position: absolute;
  width: 425px;
  height: 62px;
  top: 193px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid;
  border-color: #eeeeee;
}

.sign-in .text-wrapper-2 {
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-weight: 400;
  color: #5c5c5c;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .button {
  position: absolute;
  width: 423px;
  height: 60px;
  top: 320px;
  left: 0;
}

.sign-in .signin-btn-wrapper {
  position: relative;
  width: 425px;
  height: 62px;
  top: -1px;
  left: -1px;
  border-radius: 100px;
  box-shadow: 0px 12px 35px #a0780033;
  background: linear-gradient(180deg, rgb(255, 192.02, 0) 0%, rgb(255, 137.7, 0) 100%);
}

.sign-in .signin-btn {
  position: relative;
  width: 46px;
  height: 18px;
  top: 22px;
  left: 190px;
}

.sign-in .img-2 {
  position: absolute;
  width: 43px;
  height: 12px;
  top: 3px;
  left: 0;
  
}

.sign-in .dont-have-an-account {
  position: absolute;
  width: 166px;
  height: 10px;
  top: 274px;
  left: 256px;
}

.sign-in .logo {
  position: absolute;
  width: 170px;
  height: 41px;
  top: -75px;
  left: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  transform: scale(2.0);
}
